<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.achar.javatokotlin">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MbApplication"
        android:allowBackup="true"
        android:icon="@mipmap/xiaomi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".MBMainSelectActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.fragmnet_train.FragmentTrainActivity">
        </activity>
        <activity android:name=".activity.fragmnet_train.FramgentReplaceActivity">
        </activity>
        <activity android:name=".activity.fragmnet_train.FragmentAddShowHideActivity">
        </activity>
        <activity android:name=".activity.fragmentTabHost.Activity4FragmentTabHost">
        </activity>
        <activity android:name=".activity.tablayout.TabLayoutTrainActivity">
        </activity>
        <activity android:name=".activity.tablayout.TabLayoutDoubleActivity">
        </activity>
        <activity android:name=".activity.some_bottom_bar.BottomNavigationBarActivity">
        </activity>
        <activity
            android:name=".activity.appbar.AppBarActivity"
            android:theme="@style/AppTheme2">
        </activity>
        <activity android:name=".activity.appbar.AppBarActivity2">
        </activity>
        <activity android:name=".activity.appbar.CoordinatorLayoutSelectActivity">
        </activity>
        <activity android:name=".activity.textinput.TextInputActivity">
        </activity>
        <activity android:name=".activity.dialog_use.ActivityForUseDialog">
        </activity>
        <activity android:name=".activity.dialog_use.TestLanguageActivity">
        </activity>
        <activity android:name=".activity.change_language_in_app.ChangeLanguageActivity">
        </activity>
        <activity android:name=".activity.rili.RiLiActivity">
        </activity>
        <activity android:name=".activity.viewpager.SplashActivity">
        </activity>
        <activity android:name=".activity.viewpager.DiffViewPagerActivity">
        </activity>
        <activity android:name=".activity.viewpager.ViewPagerActivity">
        </activity>
        <activity android:name=".activity.bravh.BravhActivity">
        </activity>
        <activity android:name=".activity.listview.ListViewActivity">
        </activity>
        <activity android:name=".activity.RecycleView.RecycleListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.fast_spalsh_loading.WelcomeActivity"
            android:theme="@style/MyTestNoBlankSplash.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.diff_recycle_view.DiffRecycleViewActivity">
        </activity>
        <activity android:name=".activity.progress_line.ProgressLineActivity">
        </activity>
    </application>

</manifest>